<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"> {% block head_content %}{% endblock %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
		    crossorigin="anonymous">
	</head>

	<body>
		{% include "nav.html" %}
		<div class="container mt-5">
			{% block container %} {% endblock %}
		</div>
	</body>

	</html>