<!DOCTYPE html>
<html lang="en">

	<head>
			<meta charset="UTF-8">
			{% block head_content %}{% endblock %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
				crossorigin="anonymous">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
	</head>

	<body class="h-100">
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">
					{% block container %}{% endblock%}
				</div>
			</div>
		</div>

		{% block scripts %}{% endblock scripts %}

	</body>

	</html>