{% extends "base.html" %}

{% block container %}
	{% if messages %}
	<div class="alert alert-success">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	</div>
	{% endif %}
	<h1>Hola {{ user.username }}</h1>

	<div class="container">
		<h2>Plan activo</h2>
		{% if subscription %}
			<h3>
				{{subscription.plan.description}}
			</h3>
		{% else %}
			<h3>No tienes plan activo</h3>
		{% endif %}
		<form action="{% url "plans:cancel_subscription" %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="subscription_id" value="{{subscription.stripe_subscription_id}}">
			<button type="submit">Cancel Subscription</button>
		</form>
	</div>

<div class="container mt-5 text-center">
	<div class="row">
		{% for plan in plans %}
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{plan.description}}
						</h3>
					</div>
					<div class="panel-body">
						<div class="the-price">
							<h1>
								${{plan.price}}
								<span class="subscript">{% if plan.is_annual %}
								/year
								{% else %}
								/month
								{% endif %}</span>
							</h1>
						</div>
						<table class="table">
							<tr>
								<td>
									2 Account
								</td>
							</tr>
							<tr class="active">
								<td>
									5 Project
								</td>
							</tr>
							<tr>
								<td>
									100K API Access
								</td>
							</tr>
							<tr class="active">
								<td>
									200MB Storage
								</td>
							</tr>
							<tr>
								<td>
									Custom Cloud Services
								</td>
							</tr>
							<tr class="active">
								<td>
									Weekly Reports
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<form action="{% url "plans:create_subscription" %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="plan_id" value={{plan.stripe_plan_id}}>
							<button class="btn btn-info">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock container %}